body {
    background-color: #DCDCDC;
}

.top-bar {    
    background-color: #4F2582;
    height: 55px;
}

.top-bar img{
    height: 30px;
}

.bottom-bar {    
    background-color: #FFFFFF;
}

.bottom-bar a {    
    color: #4F2582;
}

.logo_size img {
    height: 30px;
}

.emphasis {    
    font-weight: bold;
}

div.transbox {
    background: rgba(78, 42, 132, 0.5);
    background: rgba(220, 220, 220, 0.8);
    color: #000000;
  }