body {
    background-color: #DCDCDC;
}

.top-bar {    
    background-color: #4F2582;
    height: 55px;
}

.top-bar img{
    height: 30px;
}

.bottom-bar {    
    background-color: #FFFFFF;
}

.bottom-bar a {    
    color: #4F2582;
}

.logo_size img {
    height: 30px;
}

.emphasis {    
    font-weight: bold;
}

div.transbox {
    background: rgba(78, 42, 132, 0.5);
    background: rgba(220, 220, 220, 0.8);
    color: #000000;
  }

  table.headshots img {
    height: 100px;
  }

  table.center {
    margin-left:auto; 
    margin-right:auto;
  }

  h1 {
    color: #4F2582;
  }
  h5 {
    color: #4F2582;
  }

  table.white {
      background: #FFFFFF;
  }

  div.white {
    background: #FFFFFF;
}

a.dead{
    color: #DCDCDC;
}

.footnote {
    font-style: italic;
    font-size: 10px;
}

table.exec_pics img {
    border-radius: 20px;
    max-width: 100%;
}

.alumni_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#alumni_hero {
    width: auto;
    height: 400px;
    margin: 0 auto;
}

strong a{
    color: #4F2582;
}