body {
    background-color: #DCDCDC;
}

.top-bar {    
    background-color: #4F2582;
    height: 55px;
}

.top-bar img{
    height: 30px;
}

.bottom-bar {    
    background-color: #FFFFFF;
}

.bottom-bar a {    
    color: #4F2582;
}